
.img{
    border-radius: 5;
}

.scroll-container{
  overflow: auto;
  white-space: nowrap;
  padding: 5px 70px 5px 20px;
  background: transparent;
  height: 100%;
  border-radius:15px;
}

.gridscroll{
  display:inline-block;
}

.gridscroll img {
  margin-right:22px;
}

// #section-2{
//     background-color: var(--aqua);
//     height: 100vh;
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     #box{
//         height: 100px;
//         width: 100px;
//         background-color: var(--red);
//         border: 3px solid var(--white);
//     }
// }