/* =============
    Buttons
============= */

button{
        background-color: var(--white);
        border: none;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 16px;
        padding-bottom: 16px;
        height: 48px;
        border-radius: 40px;
        text-align: center;
        color: black;

        &:hover{
            cursor: pointer;
            background-color: var(--yellow);
        }
}